.calculator {
    background-color: gray;
    height: 600px;
    width: 500px;
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.screen {
    width: 100%;
    height: 30%;
    background-color: darkolivegreen;
    display: grid;
    grid-template-rows: 10% 45% 45%;
}