.calculator {
    background-color: gray;
    height: 600px;
    width: 540px;
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.screen {
    width: 100%;
    height: 30%;
    background-color: darkolivegreen;
    display: grid;
    grid-template-rows: 10% 45% 45%;
    margin-bottom: 30px;
}

.standardButton {
    width: 85px;
    height: 85px;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 10px; */
    margin-bottom: 10px;
}

.standardButton.clicked {
    background-color: black;
    color: black;
}

.largeButton {
    width: 205px;
    height: 85px;
    font-size: 40px;
    color: black;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 14px;
}

.largeButton.clicked {
    color: black;
    background-color: black;
}

.acButton {
    width: 200px;
    height: 85px;
    font-size: 40px;
    color: black;
    background-color: orange;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.acButton.clicked {
    color: black;
    background-color: darkgoldenrod;
}

.inputDigits {
    padding: 10px;
}

.operationDigits {
    padding: 10px;
}

.resultDigits {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.numbersDisplay {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;
}

.operatorsDisplay {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.3% 33.3% 33.3%;
}